In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("trainable_checker_v4.csv")

/tmp/ipykernel_218149/1655942901.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("trainable_checker_v4.csv")

In [12]:
df

,DB_name,table_name,port,col_name,col_min,col_max,col_avg,col_var,shape,AT_model,Unnamed: 0
0,BS_UPF01_5M,PFCPN|PFMC,/PIC0,AS_S_REQ_RX_ATTEMPT(count),0.0,23.0,0.002459,0.050289,"(16265,)",False,NaN
1,BS_UPF01_5M,PFCPN|PFMC,/PPC1,AS_S_REQ_RX_ATTEMPT(count),0.0,0.0,0.000000,0.000000,"(10035,)",False,NaN
2,BS_UPF01_5M,PFCPN|PFMC,/PPC11,AS_S_REQ_RX_ATTEMPT(count),0.0,0.0,0.000000,0.000000,"(16262,)",False,NaN
3,BS_UPF01_5M,PFCPN|PFMC,/PPC2,AS_S_REQ_RX_ATTEMPT(count),0.0,0.0,0.000000,0.000000,"(16258,)",False,NaN
4,BS_UPF01_5M,PFCPN|PFMC,/PPC3,AS_S_REQ_RX_ATTEMPT(count),0.0,0.0,0.000000,0.000000,"(16268,)",False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
763449,HH_AMF22_5M,COSVC|EIR,/PEER10.6.132.36,EIDCHECK_S_RATIO(%),100.0,100.0,100.000000,0.000000,"(22,)",False,NaN
763450,HH_AMF22_5M,COSVC|EIR,/PEER10.6.238.4,EIDCHECK_C_RATIO(%),95.65,100.0,99.995974,0.004521,"(16869,)",False,NaN
763451,HH_AMF22_5M,COSVC|EIR,/PEER10.6.238.5,EIDCHECK_C_RATIO(%),73.17,100.0,99.994727,0.046136,"(16869,)",False,NaN
763452,HH_AMF22_5M,COSVC|EIR,/PEER10.6.132.35,EIDCHECK_C_RATIO(%),97.92,100.0,99.909565,0.188104,"(23,)",False,NaN
763453,HH_AMF22_5M,COSVC|EIR,/PEER10.6.132.36,EIDCHECK_C_RATIO(%),100.0,100.0,100.000000,0.000000,"(22,)",False,NaN

In [14]:
condition1 = (df["DB_name"] == "HH_UPF01_5M")
condition2 = (df["table_name"] == "PUD|DROP")
check_list = condition1 & condition2

df.loc[check_list,'AT_model'] = False
df.loc[check_list,:]

,DB_name,table_name,port,col_name,col_min,col_max,col_avg,col_var,shape,AT_model,Unnamed: 0
131610,HH_UPF01_5M,PUD|DROP,/PPC0/V4,UL_SESS_DROP(count),0.0,7364.0,2.355121e+02,2.273375e+05,"(7207,)",False,NaN
131611,HH_UPF01_5M,PUD|DROP,/PPC0/V6,UL_SESS_DROP(count),0.0,24.0,1.809352e-01,3.308438e-01,"(7207,)",False,NaN
131612,HH_UPF01_5M,PUD|DROP,/PPC1/V4,UL_SESS_DROP(count),0.0,0.0,0.000000e+00,0.000000e+00,"(7205,)",False,NaN
131613,HH_UPF01_5M,PUD|DROP,/PPC1/V6,UL_SESS_DROP(count),0.0,0.0,0.000000e+00,0.000000e+00,"(7205,)",False,NaN
131614,HH_UPF01_5M,PUD|DROP,/PPC10/V4,UL_SESS_DROP(count),0.0,5702.0,2.339605e+02,1.987979e+05,"(7207,)",False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
132085,HH_UPF01_5M,PUD|DROP,/PPC7/V6,DL_TOTAL(count),16823.0,4129940.0,1.035755e+06,7.234434e+11,"(7207,)",False,NaN
132086,HH_UPF01_5M,PUD|DROP,/PPC8/V4,DL_TOTAL(count),0.0,33373.0,3.557763e+01,4.200092e+05,"(7207,)",False,NaN
132087,HH_UPF01_5M,PUD|DROP,/PPC8/V6,DL_TOTAL(count),10665.0,15553800.0,1.058853e+06,7.993049e+11,"(7207,)",False,NaN
132088,HH_UPF01_5M,PUD|DROP,/PPC9/V4,DL_TOTAL(count),0.0,2179.0,7.658388e+00,5.668119e+03,"(7207,)",False,NaN
132089,HH_UPF01_5M,PUD|DROP,/PPC9/V6,DL_TOTAL(count),0.0,0.0,0.000000e+00,0.000000e+00,"(7207,)",False,NaN