In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("trainable_checker_v4.csv")

/tmp/ipykernel_218149/1655942901.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("trainable_checker_v4.csv")

In [19]:
df

,DB_name,table_name,port,col_name,col_min,col_max,col_avg,col_var,shape,AT_model,Unnamed: 0
0,BS_UPF01_5M,PFCPN|PFMC,/PIC0,AS_S_REQ_RX_ATTEMPT(count),0.0,23.0,0.002459,0.050289,"(16265,)",False,NaN
1,BS_UPF01_5M,PFCPN|PFMC,/PPC1,AS_S_REQ_RX_ATTEMPT(count),0.0,0.0,0.000000,0.000000,"(10035,)",False,NaN
2,BS_UPF01_5M,PFCPN|PFMC,/PPC11,AS_S_REQ_RX_ATTEMPT(count),0.0,0.0,0.000000,0.000000,"(16262,)",False,NaN
3,BS_UPF01_5M,PFCPN|PFMC,/PPC2,AS_S_REQ_RX_ATTEMPT(count),0.0,0.0,0.000000,0.000000,"(16258,)",False,NaN
4,BS_UPF01_5M,PFCPN|PFMC,/PPC3,AS_S_REQ_RX_ATTEMPT(count),0.0,0.0,0.000000,0.000000,"(16268,)",False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
763449,HH_AMF22_5M,COSVC|EIR,/PEER10.6.132.36,EIDCHECK_S_RATIO(%),100.0,100.0,100.000000,0.000000,"(22,)",False,NaN
763450,HH_AMF22_5M,COSVC|EIR,/PEER10.6.238.4,EIDCHECK_C_RATIO(%),95.65,100.0,99.995974,0.004521,"(16869,)",False,NaN
763451,HH_AMF22_5M,COSVC|EIR,/PEER10.6.238.5,EIDCHECK_C_RATIO(%),73.17,100.0,99.994727,0.046136,"(16869,)",False,NaN
763452,HH_AMF22_5M,COSVC|EIR,/PEER10.6.132.35,EIDCHECK_C_RATIO(%),97.92,100.0,99.909565,0.188104,"(23,)",False,NaN
763453,HH_AMF22_5M,COSVC|EIR,/PEER10.6.132.36,EIDCHECK_C_RATIO(%),100.0,100.0,100.000000,0.000000,"(22,)",False,NaN

In [28]:
#### 특정 테이블이 통채로 비어질 경우 the type of datetime is Nonetype 과 같은 애러를 보임

condition1 = (df["DB_name"] == "HH_UPF01_5M")
condition2 = (df["table_name"] == "PUD|DROPDTL")
# condition3 = (df["port"] == "/PPC9/0/V4")
# condition4 = (df["col_name"] == "UL_INV_SESS(count)")
check_list = condition1 & condition2 # & condition4 #  & condition4

df.loc[check_list,'AT_model'] = False
df.loc[check_list,['DB_name', 'table_name', 'port', 'col_name', 'col_min', 'col_max',
       'col_avg', 'col_var', 'shape', 'AT_model']]

,DB_name,table_name,port,col_name,col_min,col_max,col_avg,col_var,shape,AT_model
132834,HH_UPF01_5M,PUD|DROPDTL,/PPC0/V4,UL_INV_SESS(count),0.0,7364.0,235.512141,227337.527434,"(7207,)",False
132835,HH_UPF01_5M,PUD|DROPDTL,/PPC0/V6,UL_INV_SESS(count),0.0,24.0,0.180935,0.330844,"(7207,)",False
132836,HH_UPF01_5M,PUD|DROPDTL,/PPC1/V4,UL_INV_SESS(count),0.0,0.0,0.000000,0.000000,"(7205,)",False
132837,HH_UPF01_5M,PUD|DROPDTL,/PPC1/V6,UL_INV_SESS(count),0.0,0.0,0.000000,0.000000,"(7205,)",False
132838,HH_UPF01_5M,PUD|DROPDTL,/PPC10/V4,UL_INV_SESS(count),0.0,5702.0,233.960455,198797.923360,"(7207,)",False
...,...,...,...,...,...,...,...,...,...,...
134893,HH_UPF01_5M,PUD|DROPDTL,/PPC7/V6,DL_DUP_GTP(count),0.0,0.0,0.000000,0.000000,"(7207,)",False
134894,HH_UPF01_5M,PUD|DROPDTL,/PPC8/V4,DL_DUP_GTP(count),0.0,0.0,0.000000,0.000000,"(7207,)",False
134895,HH_UPF01_5M,PUD|DROPDTL,/PPC8/V6,DL_DUP_GTP(count),0.0,0.0,0.000000,0.000000,"(7207,)",False
134896,HH_UPF01_5M,PUD|DROPDTL,/PPC9/V4,DL_DUP_GTP(count),0.0,0.0,0.000000,0.000000,"(7207,)",False
134897,HH_UPF01_5M,PUD|DROPDTL,/PPC9/V6,DL_DUP_GTP(count),0.0,0.0,0.000000,0.000000,"(7207,)",False

In [29]:
df.to_csv("trainable_checker_v4.1.csv")